.catalog-btn-box
	text-align: right
	padding: 15px
.catalog-btn-container
	border: 1px solid $blueColor
	display: inline-block
	border-radius: 30px
	position: relative
	overflow: hidden
	.catalog-btn
		padding: 8px 30px
		text-decoration: none
		&.active
			background-color: $blueColor
			color: $whiteColor
	.btn-map-filters
		border-right: 1px solid $blueColor
.cards-item
	margin: 0 0 45px
	a
		text-decoration: none
		&:hover
			color: $blueColor
	h3
		font-size: $mediumSize
		font-weight: 400
		padding: 15px 0 0
		text-transform: lowercase
		&::first-letter
			text-transform: uppercase
		a
			display: -webkit-box
			-webkit-line-clamp: 1
			-webkit-box-orient: vertical
			line-clamp: 1
			position: relative
			overflow: hidden
.cards-item-img
	height: 250px
	display: block
	position: relative
	overflow: hidden
	border-radius: 30px
	.img-cover
		@include positionElement(100%,100%,0,0)
		transform: scale(1)
		transition: ease-out 0.5s
		background-position: center
	img
		@include positionElement(100%,100%,0,0)
	&:hover
		.img-cover
			transform: scale(1.1)
.pitomnik-breed-item
	margin-bottom: 30px
.promo-item
	position: relative
	h3
		&::first-letter
			text-transform: uppercase
.promo-item-type
	position: absolute
	background-color: #A55EFF
	font-size: 14px
	padding: 0px 15px
	left: -5px
	top: 40px
	color: #ffffff
	z-index: 2
	border-radius: 6px
.promo-item-type.sale
.promo-item-type.anons
	background-color: #EC76CB
.promo-item-type.knit
	background-color: #FEAB4A
.promo-item-type.gift
	background-color: #ABE155
.promo-item-bottom
	display: flex
	margin-top: 8px
	justify-content: space-between
.promo-item-price
	font-size: 18px
	color: $blueColor
	padding-top: 8px
	font-family: "bold"
@media (max-width: 992px)
	.cards-item-img
		height: 180px
@media (max-width: 576px)
	.cards-item-img
		height: 250px
